@{
    ViewBag.Title = "addBrand";
    Layout = "~/Views/Shared/_Admin_Header.cshtml";
}

<div id="content" class="col-lg-10 col-sm-10">
    <!-- content starts -->
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="/Admin/Dashboard">Home</a>
            </li>
            <li>
                <a href="/Admin/AddBrand">Add Brand</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="box col-md-12">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-edit"></i> Add Brand</h2>

                </div>
                <div class="box-content">
                    <form method="post" action="/Admin/AddBrandindb">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Title">
                        </div>

                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <!--/span-->
    </div><!--/row-->
    <!-- content ends -->

</div>